.editable-cell {
    position: relative;
    padding: 5px 12px;
    cursor: pointer;
  }

  .editable-row:hover .editable-cell {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
  }
  .sub-btn{
    align-items: center;
    text-align: center;
    font-size: 12px;
    margin-left: 47%;
    width: 76px;
    height: 20px;
}
.title-label{
  text-align: center;
}
.submit-btn{
  text-align: center;
  width: 100px;
}
.action-col{
  text-align: center;
}
.img-sty{
  width: 44px;
  height: 32px;
}