<body>
  <h1 class="title-label mb-4 font-weight-normal">MyCart</h1>
  <nz-table #editRowTable nzBordered [nzData]="listOfData">
    <thead>
      <tr>
        <th nzWidth="40%">Item Info</th>
        <th>Price</th >
        <th nzWidth="20%">Number</th>
        <th >
          <div class="action-col"> Action</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of editRowTable.data" class="editable-row">
        <td>
          <img src="/assets/img/iPhone11.jpg" class="img-sty">
          {{ data.itemname }}&nbsp;{{data.manufactur}}</td>
        <td>{{ data.price }}</td>
        <td>
          <div class="editable-cell" [hidden]="editnumber === data.number" >
            {{ data.number }}
          </div>
          <input [hidden]="editnumber !== data.number" type="text" nz-input [(ngModel)]="data.number" (blur)="stopEdit()" />
        </td>

        <td>
            <div class="action-col">
              <button class="btn btn-primary" (click)="startEdit(data.number)">Edit</button>
              &nbsp;
              <!-- <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (click)="deleteRow(data.id)">Delete</a> -->
              <button class="btn btn-primary" (click)="deleteRow(data.id)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
<div >
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="12">
      <nz-statistic [nzValue]="91.01 | money" [nzTitle]="'Total Tax (CNY)'"></nz-statistic>
    </nz-col>
  </nz-row>
    <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="12">
      <nz-statistic [nzValue]="2019.111 | money" [nzTitle]="'Total Price (CNY)'"></nz-statistic>
    </nz-col>
  </nz-row>
</div>
<div >
  <!-- <button type="button" class="btn btn-primary submit-btn mr-4 offset-4">Back</button> -->
  <button type="button" class="btn btn-primary submit-btn mr-4 offset-4" [routerLink]="['/productlist']">Back</button>
  <button type="button" class="btn btn-primary submit-btn" [routerLink]="['/historylist']">Checkout</button>
</div>
</body>