<body>
  <!--  通过class的形式，注入bootstrap的css样式   -->
  <!--  通过col-xx-xx的形式，注入bootstrap的网格布局样式，控制相对宽度（bootstrap4以上通过flexbox实现） -->
  <!--  通过offset-xx-xx 控制相对偏移量 -->
  <h1 class="title-label col-sm-9 offset-sm-2 mb-3 font-weight-normal">Register</h1>
  <form id="myForm" class="col-sm-9 offset-sm-2 col-12" [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm)">
      <div class="form-group form-row">
          <label class="col-form-label col-3">User name</label>
          <div class="col-9">
              <input class="form-control col-12" name="name" type="text" />
          </div>
      </div>
      <div class="form-group form-row">
          <label class="col-form-label col-3">Password</label>
          <div class="col-9">
              <input class="form-control col-12" name="password" type="password" />
          </div>
      </div>
      <div class="form-group form-row">
        <label class="col-form-label col-3">Confirm password</label>
        <div class="col-9">
            <input class="form-control col-12" name="confirm-assword" type="bonfirm-assword" />
        </div>
    </div>
      <div class="form-group form-row">
          <label class="col-form-label col-3">Tel.</label>
          <div class="col-9">
              <input class="form-control col-12" name="cellphone" type="text" />
          </div>
      </div>
      <div class="form-group form-row">
          <label class="col-form-label col-3">E-mail</label>
          <div class="col-9">
              <input class="form-control col-12" name="e-mail" type="text" />
          </div>
      </div>
      <!--    定义bootstrap alert插件框    -->
      <!-- <div id="result" class="alert alert-danger">

      </div> -->
      <div class="form-group form-row operate">
          <button class="btn btn-primary submit-btn" type="submit">Submit</button>
      </div>
  </form>
 
  <script>
      // var form = document.querySelector('#myForm');
      // var result = document.querySelector('#result');
      // form.addEventListener('submit', function(e){
      //     if(!document.querySelector('[name=password]').value){
      //         result.style.display = 'block';
      //         result.innerHTML = '密码为空';
      //     }else{
      //         result.style.display = 'none';
      //
      //     }
      //     e.preventDefault();
      // });
      /*通过jQuery语法重写上面代码*/
      var form = $('#myForm');
      var result = $('#result');
  // '' null undefined  flase
      form.submit(function (e) {
          if(!$('[name=password]').val()){
              // 不推荐在生产项目中写超过3个以上的链式调用
              result.css('display', 'block' ).text('密码为空');
          }else{
              result.css('display', 'none' )
          }
          e.preventDefault();
      })

  </script>
</body> 