<div nz-row nzJustify="center" nzAlign="top">
    <div nz-col nzSpan="12">
  <h1 class="title-label col-sm-9 offset-sm-2 mb-3 font-weight-normal">Register</h1>
  <p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
  </p>
  <form nz-form id="myForm" [formGroup]="validateForm" (ngSubmit)="submitForm()" style="width: 100%;">
    <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="username" nzRequired >Username</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your username!">
              <input nz-input ngModel formControlName="username" [(ngModel)]="username" type="text" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item >
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="email" nzRequired>E-mail</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your Email!">
            <input nz-input ngModel formControlName="email" [(ngModel)]="email" type="text" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item >
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="mobilePhone" nzRequired>Tel.</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your mobilePhone!">
            <input nz-input ngModel formControlName="mobilePhone" [(ngModel)]="mobilePhone"  type="text" />
        </nz-form-control>
    </nz-form-item >
    <nz-form-item *ngIf="isshow" >
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="companyname">Company_name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your companyname!">
            <input nz-input ngModel formControlName="companyname" [(ngModel)]="companyname"  type="text" />
        </nz-form-control>
    </nz-form-item >
    <nz-form-item *ngIf="isshow" >
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="GSTIN">GSTIN</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your GSTIN!">
            <input nz-input ngModel formControlName="GSTIN" [(ngModel)]="GSTIN"  type="text" />
        </nz-form-control>
    </nz-form-item >
    <nz-form-item *ngIf="isshow" >
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="brief">Brief</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your brief!">
            <input nz-input ngModel formControlName="brief" [(ngModel)]="brief"  type="text" />
        </nz-form-control>
    </nz-form-item >
    <nz-form-item *ngIf="isshow" >
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="postaladdress">Postal_address</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your postaladdress!">
            <input nz-input ngModel formControlName="postaladdress" [(ngModel)]="postaladdress"  type="text" />
        </nz-form-control>
     </nz-form-item >
    <nz-form-item *ngIf="isshow" >
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="website">Website</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24"  nzErrorTip="Please input your website!">
            <input nz-input ngModel formControlName="website" [(ngModel)]="website"  type="text" />
        </nz-form-control>
    </nz-form-item >
    <nz-form-item >
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="password">Password</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
              <input nz-input ngModel formControlName="password" [(ngModel)]="password" type="password" />
        </nz-form-control>
    </nz-form-item >
    <nz-form-item >
        <nz-form-label [nzSm]="8" [nzXs]="24"  nzRequired nzFor="confirmPassword">Confirm password</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your confirmPassword!">
            <input nz-input name="confirmPassword" formControlName="confirmPassword" [(ngModel)]="confirmPassword"  type="bonfirm-assword" />
            <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.isok('required')">
                    Please confirm your password!
                </ng-container>
                <ng-container *ngIf="control.isok('confirm')">
                    Different passwords in twice time!
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item >

      <div class="form-group form-row operate">
          <button class="btn btn-primary submit-btn" type="submit">Submit</button>
      </div>
  </form>
</div>
</div>