  
  <nz-table class="mt-4" #rowSelectionTable nzShowSizeChanger [nzData]="listOfData"  [nzPageSize]="5" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
    <thead>
      <tr>
        <th>ItmeInfo</th>
        <th>Price</th>
        <th>Stock</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data; index as itemid">
        <td>
          {{ data.itemname }}</td>
        <td>{{ data.price }}</td>
        <!-- <td>{{ data.stock }} -->
          <td>
          <nz-input-number [(ngModel)]="data.stock" [nzStep]="1 " [nzMin]="0 " class="stock"></nz-input-number>
        </td>
        <td>
          <button class="btn btn-primary mr-2" type="submit" (click)="Updatestock(data.itemid,data.stock)" >Update</button>
          <!-- <a class="detail-link float-right" [routerLink]="['/products', itemid]">Updates</a> -->
        </td>
      </tr>
    </tbody>
  </nz-table>