.left-div{
    width: 300px;
    height: 300px;
}
.right-div{
    width: 500px;
    height: 300px;
}
.title-label{
    text-align: center;
  }
.submit-btn{
    text-align: center;
    width: 100px;
  }
.img-sty{
    width: 300px;
    height: 300px;
}
