.title-label{
    text-align: center;
  }
  .submit-btn{
    text-align: center;
    width: 100px;
  }
  .action-col{
    text-align: center;
  }
  .div-btn {
    text-align: center;
    display: flex;
    align-items: center;
  }