<h1 class="title-label mb-4 font-weight-normal">Sales Manage</h1>
<div>
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
        <nz-tab nzTitle="Add Products">
            <app-add-product></app-add-product>
        </nz-tab>
          <nz-tab nzTitle=" Manage Stock ">
            <ng-template nz-tab>
                <app-manage-stock></app-manage-stock>
            </ng-template>
          </nz-tab>
          <nz-tab nzTitle=" Reports ">
            <ng-template nz-tab>
              <app-reports></app-reports>
            </ng-template>
          </nz-tab>
    </nz-tabset>
</div>

